doctype html(lang='en')
head
    meta(charset='utf-8')
     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
     
    meta(name='description', content='')
    
    meta(name='author', content='Dashboard')
     
    meta(name='keyword', content='Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina')
     
    title OSA-test-suite Report
    // Bootstrap core CSS
    link(href='../template/css/bootstrap.css', rel='stylesheet')
    // external css
    link(href='../template/font-awesome/css/font-awesome.css', rel='stylesheet')
     
    link(rel='stylesheet', type='text/css', href='../template/css/zabuto_calendar.css')
     
    link(rel='stylesheet', type='text/css', href='../template/js/gritter/css/jquery.gritter.css')
     
    link(rel='stylesheet', type='text/css', href='../template/lineicons/style.css')
    // Custom styles for this template
    link(href='../template/css/style.css', rel='stylesheet')
     
    link(href='../template/css/style-responsive.css', rel='stylesheet')
     
    script(src='../template/js/chart-master/Chart.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
       
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
body
    section#container
        //
          **********************************************************************************************************************************************************
          TOP BAR CONTENT & NOTIFICATIONS
          ***********************************************************************************************************************************************************
        // header start
        header.header.black-bg
            .sidebar-toggle-box
                .fa.fa-bars.tooltips(data-placement='right', data-original-title='Toggle Navigation')
            // logo start
            a.logo(href='index.html')
                b OSA TEST SUITE REPORT
            // logo end
            #top_menu.nav.notify-row
                // notification start
                // notification end
             
            .top-menu
        // header end
        //
          **********************************************************************************************************************************************************
          MAIN SIDEBAR MENU
          ***********************************************************************************************************************************************************
        // sidebar start
        aside
            #sidebar.nav-collapse
                // sidebar menu start
                ul#nav-accordion.sidebar-menu
                    p.centered
                        img.img-circle(src='../template/img/ui-sam.jpg', width='60')
                     
                    h5.centered
                     
                    li.mt
                        a.active(href='index.html')
                            i.fa.fa-dashboard
                             
                            span Dashboard
                     
                    li.sub-menu
                        a(href='tables.html')
                            i.fa.fa-th
                             
                            span Data Tables
                    // sidebar menu end
        // sidebar end
        //
          **********************************************************************************************************************************************************
          MAIN CONTENT
          ***********************************************************************************************************************************************************
        // main content start
        section#main-content
            section.wrapper
                .row
                    .col-lg-9.main-chart
                        h3
                            i.fa.fa-angle-right Total test: #{count}
                         
                        .row.mtbox
                            // Stattistic Panel
                            .col-md-4.col-sm-4.mb
                                .darkblue-panel.pn.donut-chart
                                    .darkblue-header
                                        h5 TEST PASSED
                                     
                                    canvas#serverstatus02(height='120', width='120')
                                     
                                    script.
                                        var doughnutData = [
                                            {
                                                value: #{passedTest},
                                                color: "#2d7a52"
                                            },
                                            {
                                                value: 100-#{passedTest},
                                                color: "#dfdfe1"
                                            }
                                        ];
                                        var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
                                     
                                    .row
                                        .col-sm-6.col-xs-6.goleft
                                            h5
                                                i.fa.fa-hdd-o  #{passed}/#{count} test(s)
                                        .col-sm-6.col-xs-6
                                            h2 #{passedTest} %
                            // /col-md-4
                            .col-md-4.mb
                                .grey-panel.pn.donut-chart
                                    .grey-header
                                        h5 TEST SKIPPED
                                     
                                    canvas#serverstatus03(height='120', width='120')
                                     
                                    script.
                                        var doughnutData2 = [
                                            {
                                                value: #{skippedTest},
                                                color: "#ddbf6c"
                                            },
                                            {
                                                value: 100-#{skippedTest},
                                                color: "#dfdfe1"
                                            }
                                        ];
                                        var myDoughnut2 = new Chart(document.getElementById("serverstatus03").getContext("2d")).Doughnut(doughnutData2);
                                     
                                    .row
                                        .col-sm-6.col-xs-6.goleft
                                            h5
                                                i.fa.fa-hdd-o #{skipped}/#{count}  test(s)
                                         
                                        .col-sm-6.col-xs-6
                                            h2 #{skipped} %
                            // /col-md-4
                            .col-md-4.mb
                                .grey-panel.pn.donut-chart
                                    .grey-header
                                        h5 TEST FAILED
                                     
                                    canvas#serverstatus04(height='120', width='120')
                                     
                                    script.
                                        var doughnutData3 = [
                                            {
                                                value: #{failedTest},
                                                color: "#8e2d2d"
                                            },
                                            {
                                                value: 100-#{failedTest},
                                                color: "#dfdfe1"
                                            }
                                        ];
                                        var myDoughnut3 = new Chart(document.getElementById("serverstatus04").getContext("2d")).Doughnut(doughnutData3);
                                     
                                    .row
                                        .col-sm-6.col-xs-6.goleft
                                            h5
                                                i.fa.fa-hdd-o #{failed}/#{count} test(s)
                                         
                                        .col-sm-6.col-xs-6
                                            h2 #{failed} %
                            // /col-md-4

                             // #chartjs.tab-pane
                                         .col-lg-12
                                           .content-panel
                                          h4
                                                 i.fa.fa-angle-right  Time of tests passed
                                                     .panel-body.text-center
                                                          #realtimechart(style="height: 190px; padding: 0px; position: relative;")




                            // custom chart end
                        // /row
    // js placed at the end of the document so the pages load faster
    script(src='../template/js/jquery.js')
    script(src='../template/js/jquery-1.8.3.min.js')
    script(src='../template/js/bootstrap.min.js')
    script.include(type='text/javascript', src='../template/js/jquery.dcjqaccordion.2.7.js')
    script(src='../template/js/jquery.scrollTo.min.js')
    script(src='../template/js/jquery.nicescroll.js', type='text/javascript')
    script(src='../template/js/jquery.sparkline.js')
    // common script for all pages
    script(src='../template/js/common-scripts.js')
    // script for this page
    script(src='../template/js/sparkline-chart.js')
    script(src='../template/js/zabuto_calendar.js')
    script(src='../template/js/chart-master/Chart.js')
    script(src='../template/js/chartjs-conf.js')
    //script for charters
        <script src="js/excanvas.js"></script>
    script(src='../template/js/jquery.flot.js')
    script(src='../template/js/jquery.flot.pie.js')
    script(src='../template/js/jquery.flot.stack.js')
    script(src='../template/js/jquery.flot.resize.min.js')

    script(type='application/javascript').
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });
            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event",}
                ]
            });
        });
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }



